<nav class="navbar sticky-top navbar-expand-lg" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <i class="bi bi-tree-fill me-2"></i>
            BanjaraBase
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi bi-house-door me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds">
                        <i class="bi bi-geo-alt me-1"></i>Campgrounds
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds/new">
                        <i class="bi bi-plus-circle me-1"></i>New Campground
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">
                        <i class="bi bi-person-plus me-1"></i>Sign Up
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="bi bi-box-arrow-in-right me-1"></i>Log In
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>